html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 8em;
}

#title {
    bottom: 3rem;
    font-size: 3rem;
}

.card {
    margin: 1rem;
    width: 18rem;
}

:root {

    /* Base colors */
    --gruv-bg0: #282828;
    --gruv-bg1: #3c3836;
    --gruv-bg2: #504945;
    --gruv-fg0: #fbf1c7;
    --gruv-fg1: #ebdbb2;
    --gruv-gray: #a89984;
    --gruv-gray-dark: hsl(35, 17%, 49%);

    /* Palette */
    --gruv-red: hsl(2, 75%, 46%);
    --gruv-green: hsl(60, 71%, 35%);
    --gruv-yellow: hsl(42, 95%, 58%);
    --gruv-blue: hsl(183, 33%, 40%);
    --gruv-purple: hsl(344, 47%, 68%);
    --gruv-aqua: hsl(104, 35%, 62%);
    --gruv-orange: hsl(24, 88%, 45%);

    /* Palette dark */
    --gruv-red-dark: hsl(2, 75%, 36%);
    --gruv-green-dark: hsl(60, 71%, 25%);
    --gruv-yellow-dark: hsl(42, 95%, 48%);
    --gruv-blue-dark: hsl(183, 33%, 30%);
    --gruv-purple-dark: hsl(344, 47%, 58%);
    --gruv-aqua-dark: hsl(104, 35%, 52%);
    --gruv-orange-dark: hsl(24, 88%, 35%);

    /* Bootstrap */
    --bs-body-bg: var(--gruv-bg0);
    --bs-body-color: var(--gruv-fg1);

    --bs-primary: var(--gruv-orange);
    --bs-secondary: var(--gruv-gray);
    --bs-success: var(--gruv-green);
    --bs-info: var(--gruv-blue);
    --bs-warning: var(--gruv-yellow);
    --bs-danger: var(--gruv-red);
    --bs-light: var(--gruv-bg1);
    --bs-dark: var(--gruv-bg0);

    --bs-border-color: var(--gruv-bg2);
}

.btn-primary {
    --bs-btn-color: var(--gruv-fg0);
    --bs-btn-bg: var(--gruv-blue);
    --bs-btn-border-color: var(--gruv-blue);

    --bs-btn-hover-color: var(--gruv-fg1);
    --bs-btn-hover-bg: var(--gruv-blue-dark);
    --bs-btn-hover-border-color: var(--gruv-blue-dark);

    --bs-btn-focus-shadow-rgb: 254,128,25;

    --bs-btn-active-color: #282828;
    --bs-btn-active-bg: var(--gruv-blue-dark);
    --bs-btn-active-border-color: var(--gruv-blue-dark);

    --bs-btn-disabled-color: #a89984;
    --bs-btn-disabled-bg: #3c3836;
    --bs-btn-disabled-border-color: #3c3836;
}

.btn-outline-primary {
    --bs-btn-color: var(--gruv-fg0);
    --bs-btn-border-color: var(--gruv-blue);

    --bs-btn-hover-color: var(--gruv-fg1);
    --bs-btn-hover-bg: var(--gruv-blue-dark);
    --bs-btn-hover-border-color: var(--gruv-blue-dark);

    --bs-btn-focus-shadow-rgb: 254,128,25;

    --bs-btn-active-color: #282828;
    --bs-btn-active-bg: var(--gruv-blue-dark);
    --bs-btn-active-border-color: var(--gruv-blue-dark);

    --bs-btn-disabled-color: #a89984;
    --bs-btn-disabled-bg: #3c3836;
    --bs-btn-disabled-border-color: #3c3836;
}

.btn-success {
    --bs-btn-color: #282828;
    --bs-btn-bg: #b8bb26;
    --bs-btn-border-color: #b8bb26;

    --bs-btn-hover-bg: #98971a;
    --bs-btn-hover-border-color: #98971a;

    --bs-btn-active-bg: #79740e;
    --bs-btn-active-border-color: #79740e;
}

.btn-danger {
    --bs-btn-color: #fbf1c7;
    --bs-btn-bg: #fb4934;
    --bs-btn-border-color: #fb4934;

    --bs-btn-hover-bg: #cc241d;
    --bs-btn-hover-border-color: #cc241d;

    --bs-btn-active-bg: #9d0006;
    --bs-btn-active-border-color: #9d0006;
}

.btn-warning {
    --bs-btn-color: #282828;
    --bs-btn-bg: var(--gruv-yellow);
    --bs-btn-border-color: #var(--gruv-yellow);

    --bs-btn-hover-bg: #d79921;
    --bs-btn-hover-border-color: #d79921;

    --bs-btn-active-bg: #b57614;
    --bs-btn-active-border-color: #b57614;
}

math-field {
    width: 100%;
    display: block;
    outline: none;
    border-color: var(--gruv-bg2);
    background-color: transparent;
    margin-bottom: 2rem;
    color: var(--gruv-fg0);
    padding: 0;
    font-size: larger;

    --caret-color: var(--gruv-fg0);
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

math-field::part(menu-toggle) {
  color: var(--gruv-blue-dark);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    flex-grow: 1;
}

.card-body a {
    width: fit-content;
    align-self: flex-end;
}

.incorrect {
    animation: shake 0.3s linear, flashRed 1s linear;
}

.correct{
    animation: flashGreen 1s linear;
}

.skip {
    animation: flashGray 1s linear;
}

@keyframes flashRed {
   50% {
    background-color: hsla(2, 75%, 36%, 0.4);
   } 
}

@keyframes flashGreen {
   50% {
    background-color: hsla(60, 72%, 25%, 0.4);
   } 
}

@keyframes flashGray {
   50% {
    background-color: hsla(34, 17%, 59%, 0.15);
   } 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#practiceClose {
    all: revert;
    color: var(--gruv-gray);
}

#practiceClose:hover {
    color: var(--gruv-gray-dark);
}

.count:hover {
    cursor: default;
}