html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 8em;
}

#title {
    bottom: 3rem;
    font-size: 3rem;
}

.card {
    margin: 1rem;
    width: 18rem;
}

:root {

    /* Base colors (Everforest) */
    --everforest-bg0: #2b3339;
    --everforest-bg1: #3c474d;
    --everforest-bg2: #4f5b61;
    --everforest-fg0: #d0d0d0;
    --everforest-fg1: #d3d7cf;
    --everforest-gray: #6c6f72;
    --everforest-gray-dark: hsl(200, 4%, 35%);

    /* Palette */
    --everforest-red: hsl(0, 85%, 50%);
    --everforest-green: hsl(120, 45%, 40%);
    --everforest-yellow: hsl(48, 80%, 55%);
    --everforest-blue: hsl(200, 50%, 40%);
    --everforest-purple: hsl(300, 50%, 55%);
    --everforest-aqua: hsl(160, 30%, 55%);
    --everforest-orange: hsl(30, 90%, 50%);

    /* Palette dark */
    --everforest-red-dark: hsl(0, 85%, 40%);
    --everforest-green-dark: hsl(120, 45%, 30%);
    --everforest-yellow-dark: hsl(48, 80%, 45%);
    --everforest-blue-dark: hsl(200, 50%, 30%);
    --everforest-purple-dark: hsl(300, 50%, 50%);
    --everforest-aqua-dark: hsl(160, 30%, 50%);
    --everforest-orange-dark: hsl(30, 90%, 40%);

    /* Bootstrap */
    --bs-body-bg: var(--everforest-bg0);
    --bs-body-color: var(--everforest-fg1);

    --bs-primary: var(--everforest-orange);
    --bs-secondary: var(--everforest-gray);
    --bs-success: var(--everforest-green);
    --bs-info: var(--everforest-blue);
    --bs-warning: var(--everforest-yellow);
    --bs-danger: var(--everforest-red);
    --bs-light: var(--everforest-bg1);
    --bs-dark: var(--everforest-bg0);

    --bs-border-color: var(--everforest-bg2);
}

.btn-primary {
    --bs-btn-color: var(--everforest-fg0);
    --bs-btn-bg: var(--everforest-blue);
    --bs-btn-border-color: var(--everforest-blue);

    --bs-btn-hover-color: var(--everforest-fg1);
    --bs-btn-hover-bg: var(--everforest-blue-dark);
    --bs-btn-hover-border-color: var(--everforest-blue-dark);

    --bs-btn-focus-shadow-rgb: 254,128,25;

    --bs-btn-active-color: #282828;
    --bs-btn-active-bg: var(--everforest-blue-dark);
    --bs-btn-active-border-color: var(--everforest-blue-dark);

    --bs-btn-disabled-color: #6c6f72;
    --bs-btn-disabled-bg: #3c474d;
    --bs-btn-disabled-border-color: #3c474d;
}

.btn-outline-primary {
    --bs-btn-color: var(--everforest-fg0);
    --bs-btn-border-color: var(--everforest-blue);

    --bs-btn-hover-color: var(--everforest-fg1);
    --bs-btn-hover-bg: var(--everforest-blue-dark);
    --bs-btn-hover-border-color: var(--everforest-blue-dark);

    --bs-btn-focus-shadow-rgb: 254,128,25;

    --bs-btn-active-color: #282828;
    --bs-btn-active-bg: var(--everforest-blue-dark);
    --bs-btn-active-border-color: var(--everforest-blue-dark);

    --bs-btn-disabled-color: #6c6f72;
    --bs-btn-disabled-bg: #3c474d;
    --bs-btn-disabled-border-color: #3c474d;
}

.btn-success {
    --bs-btn-color: #282828;
    --bs-btn-bg: #a7c080;
    --bs-btn-border-color: #a7c080;

    --bs-btn-hover-bg: #7d9d4d;
    --bs-btn-hover-border-color: #7d9d4d;

    --bs-btn-active-bg: #5a7d34;
    --bs-btn-active-border-color: #5a7d34;
}

.btn-danger {
    --bs-btn-color: #d0d0d0;
    --bs-btn-bg: #cc6666;
    --bs-btn-border-color: #cc6666;

    --bs-btn-hover-bg: #b45c5c;
    --bs-btn-hover-border-color: #b45c5c;

    --bs-btn-active-bg: #9e4e4e;
    --bs-btn-active-border-color: #9e4e4e;
}

.btn-warning {
    --bs-btn-color: #282828;
    --bs-btn-bg: var(--everforest-yellow);
    --bs-btn-border-color: var(--everforest-yellow);

    --bs-btn-hover-bg: #c29e34;
    --bs-btn-hover-border-color: #c29e34;

    --bs-btn-active-bg: #a67c2e;
    --bs-btn-active-border-color: #a67c2e;
}

math-field {
    width: 100%;
    display: block;
    outline: none;
    border-color: var(--everforest-bg2);
    background-color: transparent;
    margin-bottom: 2rem;
    color: var(--everforest-fg0);
    padding: 0;
    font-size: larger;

    --caret-color: var(--everforest-fg0);
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

math-field::part(menu-toggle) {
  color: var(--everforest-blue-dark);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    flex-grow: 1;
}

.card-body a {
    width: fit-content;
    align-self: flex-end;
}

.incorrect {
    animation: shake 0.3s linear, flashRed 1s linear;
}

.correct{
    animation: flashGreen 1s linear;
}

.skip {
    animation: flashGray 1s linear;
}

@keyframes flashRed {
   50% {
    background-color: hsla(0, 85%, 40%, 0.4);
   } 
}

@keyframes flashGreen {
   50% {
    background-color: hsla(120, 45%, 30%, 0.4);
   } 
}

@keyframes flashGray {
   50% {
    background-color: hsla(200, 4%, 35%, 0.15);
   } 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#practiceClose {
    all: revert;
    color: var(--everforest-gray);
}

#practiceClose:hover {
    color: var(--everforest-gray-dark);
}

.count:hover {
    cursor: default;
}